@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
@import "../../styles/global/base";

.homePageSection {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 56px;

  @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
    margin-bottom: 64px;
  }

  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    margin-bottom: 80px;
  }
}

/*----------------------- welcome -------------------------*/
.homePageTitle {
  @include mobile-h1;
  padding: 24px 0;
  margin-top: 48px;

  /*-----------------  Tablet ---------------------*/
  @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
    @include h1;
    padding: 32px 0;
  }
  /*----------------- Desktop ---------------------*/
  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    @include h1;
    padding: 56px 0;
    margin-top: 64px;
  }
}
