@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.cartContainer {
  max-width: 100%;
  min-width: 288px;
  padding: 0 16px;
  margin: 0 auto;

  /*-----------------  Tablet ---------------------*/
  @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
    padding: 0 24px;
    min-width: 592px;
  }
  /*----------------- Desktop ---------------------*/
  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    min-width: $ui-max-container-width;
  }
}

.backBtnWrapper {
  display: flex;
  align-items: center;
  height: 16px;
  padding-right: 15px;
  gap: 4px;
  margin-bottom: 24px;
  cursor: pointer;
}

.backBtn {
  @include small-text;
  line-height: normal;
  color: $ui-color-gray-white;
  text-decoration: none;
}

.cartPageTitle {
  @include mobile-h1;
  color: $ui-color-gray-white;
  margin-bottom: 32px;

  @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
    @include h1;
  }
}
