@import "./variables";

// ------ Desktop and Tablet text ------

@mixin h1 {
  font-family: $ui-font-family-bold;
  font-size: $ui-font-size-h1;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: -0.01em;
}

@mixin h2 {
  font-family: $ui-font-family-bold;
  font-size: $ui-font-size-h2;
  font-weight: 800;
  line-height: 1.28;
  letter-spacing: -0.01em;
}

@mixin h3 {
  font-family: $ui-font-family-bold;
  font-size: $ui-font-size-h3;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0;
}

@mixin h4 {
  font-family: $ui-font-family-semibold;
  font-size: $ui-font-size-h4;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
}

@mixin uppercase {
  font-family: $ui-font-family-bold;
  font-size: $ui-font-size-uppercase;
  font-weight: 800;
  line-height: 0.92;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin button {
  font-family: $ui-font-family-semibold;
  font-size: $ui-font-size-buttons;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}

@mixin body-text {
  font-family: $ui-font-family-regular;
  font-size: $ui-font-size-body-text;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

@mixin small-text {
  font-family: $ui-font-family-semibold;
  font-size: $ui-font-size-small-text;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
}

@mixin error-text {
  font-family: $ui-font-family-semibold;
  font-size: $ui-font-size-error-text;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
}

// ------ Mobile text ------

@mixin mobile-h1 {
  font-family: $ui-font-family-bold;
  font-size: $ui-font-size-mobile-h1;
  font-weight: 800;
  line-height: 1.28;
  letter-spacing: -0.01em;
}

@mixin mobile-h2 {
  font-family: $ui-font-family-bold;
  font-size: $ui-font-size-mobile-h2;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0;
}

@mixin mobile-h3 {
  font-family: $ui-font-family-semibold;
  font-size: $ui-font-size-mobile-h3;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
}

// ---------- Flex ----------

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@mixin flex-kit($jcontent) {
  display: flex;
  justify-content: $jcontent;
  align-items: center;
}
